* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#cabecalho {
    background-color: rgb(57, 75, 69);
    display: flex;
    justify-content: end;
    padding: 20px;
}

#lista {
    display: flex;
}

#lista li {
    margin-right: 20px;
}

#lista li a {
    text-decoration: none;
    color: antiquewhite;
}

#lista li a:hover {
    color: white;
    transition: 1s;
}

#sessao1 {
    padding: 20rem;
    background-image: url(https://img.freepik.com/fotos-gratis/perfume-masculino-de-vista-frontal-em-galho-de-arvore-seca-isolado-em-um-fundo-nu-com-espaco-livre_140725-145485.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sessao1 img{
    background-size: 100%;
    background-position: center;
}

#tituloh1 {
    text-align: center;
    background-color: rgb(71, 75, 65);
}

#sessao2{
    background-image: url(https://img.freepik.com/fotos-gratis/borrao-de-luxo-abstrato-gradiente-de-cor-cinza-usado-como-parede-de-estudio-de-fundo-para-exibir-seus-produtos_1258-52609.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1710115200&semt=ais);
    background-repeat: no-repeat;
    padding: 5rem;
    background-size: 100%;
    height: 40rem;
}

#tresimagens {
    display: flex;
    justify-content: space-around;
}

.caixa {
    width: 20rem;
    height: 22rem;
    box-shadow: 50px 50px 50px;
    border-radius: 10rem;
}

.caixa p{
    text-align: left;
    font-size: 20px;
}

.caixa img {
   width: 100%; 
   height: 100%;
   border-radius: 10rem;
}

#sessao3 {
    background-image: url(https://st3.depositphotos.com/3930503/12491/i/450/depositphotos_124915376-stock-photo-abstract-background-empty-space-text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem;
    height: 10rem;
}

#perfume4 {
    display: flex;
    justify-content: space-around;
}


.caixa2 {
    width: 20rem;
    height: 50rem;
}

.caixa2 img{
    width: 100%;
    height: 50%;
}

.line {
    width: 150px;
}

#rodape {
    background-color: blue;
    padding: 5rem;
}

.paragrafo-sessao-tres {
    margin-top: 8rem;
    font-size: 20px;
}

.formulario {
    text-align: center;
    padding: 5rem;
}

#sessao4 {
    background: rgb(51,84,91);
    background: linear-gradient(9deg, rgba(51,84,91,1) 8%, rgba(131,152,159,1) 36%, rgba(195,201,208,1) 57%);
}

.formulario input {
    width: 20rem;
    height: 3rem;
}

.formulario label {
    font-size: 2rem;
}