* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#cabecalho {
    background-color: rgb(57, 75, 69);
    display: flex;
    justify-content: end;
    padding: 20px;
}

#lista {
    display: flex;
}

#lista li {
    margin-right: 20px;
}

#lista li a {
    text-decoration: none;
    color: antiquewhite;
}

#lista li a:hover {
    color: white;
    transition: 1s;
}

#sessao1 {
    background-image: url(imagens/gradiente.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
}

#sessao1 img{
    width: 20rem;
    height: 30rem;
    padding: 20px;
}

#tituloh1 {
    text-align: center;
    background-color: rgb(71, 75, 65);
}

#sessao2{
    padding: 5rem;
}

#tresimagens {
    display: flex;
    justify-content: space-around;
}

.caixa {
    width: 20rem;
    height: 22rem;
}

.caixa p{
    text-align: left;
    font-size: 20px;
}

.caixa img {
   width: 100%; 
   height: 100%;
}

#sessao3 {
    padding: 15rem;
}

#perfume4 {
    display: flex;
    justify-content: space-around;
}

.caixa2 {
    width: 20rem;
    height: 20rem;
}

.caixa2 img{
    width: 100%;
    height: 50%;
}

.line {
    width: 150px;
    
}